/*公共样式*/
/*标签页样式*/
@font-face {
  font-family: themify;
  src: url(../fonts/themify.eot?-fvbane);
  src: url(../fonts/themify.eot?#iefix-fvbane) format('embedded-opentype'), url(../fonts/themify.woff?-fvbane) format('woff'), url(../fonts/themify.ttf?-fvbane) format('truetype'), url(../fonts/themify.svg?-fvbane#themify) format('svg');
  font-weight: 400;
  font-style: normal;
}
body,
header,
footer,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
figure {
  margin: 0;
  padding: 0;
  text-rendering: geometricPrecision;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: 'Helvetica Neue', '\5FAE\8F6F\96C5\9ED1', '\9ED1\4F53', sans-serif;
  letter-spacing: .01rem;
  font-size: 15px;
  line-height: 1.75em;
  color: #3A4145;
  /*background-color: #f4f8f9;*/
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
}
a {
  text-decoration: none;
  color: #888;
}
a:hover {
  color: #2bb998;
}
.home_header,
.header {
  position: relative;
  background-image: url(http://makaiqian.oss-cn-hangzhou.aliyuncs.com/image/2/1b/8112136841ac96798e36acd9a74fc.jpg);
  background-size: cover;
  width: 100%;
  margin: 0 auto;
  height: 600px;
}
.home_header:before,
.header:before {
  content: "";
  display: table;
}
.home_header:after,
.header:after {
  content: "";
  display: table;
  clear: both;
}
.header {
  height: 240px;
}
.header_title {
  position: absolute;
  top: 50%;
  left: 0;
  height: 30px;
  width: 100%;
  text-align: center;
  line-height: 30px;
  margin-top: -15px;
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  text-shadow: 1px 0 15px #666;
}
.user_intro {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 100px;
  text-align: center;
  margin-left: -100px;
  margin-top: -50px;
}
.user_intro .nav_icon-y,
.user_intro .nav_icon-i {
  background-color: #fff;
  transition: all .25s ease;
}
.user_intro .user_img:hover .nav_icon-y,
.user_intro .user_img:hover .nav_icon-i {
  background-color: #2bb998;
}
.user_intro .user_img:hover .nav_icon-y:before {
  animation: swing_l 1.2s infinite;
}
.user_intro .user_img:hover .nav_icon-y:after {
  animation: swing_r 1.2s infinite;
}
.user_self {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}
.nav {
  /*icon yi 样式*/
}
.nav_container {
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.25);
}
.nav_bar {
  max-width: 990px;
  margin: 0 auto;
  height: 100%;
}
.nav_page {
  float: right;
  height: 100%;
  line-height: 80px;
  margin-right: .4rem;
}
.nav_page:before {
  content: "";
  display: table;
}
.nav_page:after {
  content: "";
  display: table;
  clear: both;
}
.nav_page li {
  width: .8rem;
  float: left;
  text-align: center;
  font-size: 14px;
}
.nav_page li a {
  color: #666;
  transition: all .25s ease;
}
.nav_page li a:hover {
  color: #2bb998;
}
.nav_icon {
  line-height: 88px;
  width: 30px;
}
.nav_icon-y,
.nav_icon-i {
  position: relative;
  display: inline-block;
  width: 6px;
  height: 12px;
  background-color: #2bb998;
  border-radius: 6px;
}
.nav_icon-y {
  margin-right: 8px;
}
.nav_icon-y:before,
.nav_icon-y:after {
  content: "";
  position: absolute;
  width: 5px;
  height: 15px;
  background-color: inherit;
  border-radius: 6px;
  top: -11px;
}
.nav_icon-y:before {
  right: 0;
  transform: rotateZ(30deg);
  transform-origin: center 12px;
}
.nav_icon-y:after {
  left: 0;
  transform: rotateZ(-30deg);
  transform-origin: center 12px;
}
.nav_icon-i:before {
  position: absolute;
  content: "";
  left: 0;
  top: -10px;
  width: 6px;
  height: 6px;
  background-color: inherit;
  border-radius: 50%;
}
.nav_btn {
  position: absolute;
  display: none;
  top: 20px;
  right: 20px;
}
.nav_txt {
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
  color: #fff;
}
.nav li {
  padding: 0 15px;
  float: left;
}
@keyframes swing_l {
  0% {
    transform: rotateZ(-30deg);
  }
  50% {
    width: 6px;
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(30deg);
  }
}
@keyframes swing_r {
  0% {
    transform: rotateZ(30deg);
  }
  50% {
    width: 6px;
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(-30deg);
  }
}
.post-main {
  max-width: 990px;
  margin: 40px auto;
}
.post-main:before {
  content: "";
  display: table;
}
.post-main:after {
  content: "";
  display: table;
  clear: both;
}
.post_container {
  float: left;
  max-width: 710px;
}
.site_right {
  min-height: 500px;
  max-width: 280px;
  background-color: #fff;
  margin-left: 730px;
  /*box-shadow: 0 0 2px 2px #ddd;*/
}
.post_item {
  max-width: 100%;
  background-color: #fff;
  border-bottom: 3px solid transparent;
  padding: 30px 20px;
  border-bottom: 1px solid;
  border-color: rgba(43, 185, 152, 0.2);
}
.post_item-title a {
  font-size: 20px;
  color: #555;
  font-weight: bold;
}
.post_item-title a:hover {
  color: #2bb998;
}
.post_item-time {
  font-size: 12px;
  color: #b2b2b2;
}
.post_item-excerpt {
  margin: 6px 0;
}
.post_item-excerpt p {
  color: #3A4145;
}
.post_item-tm {
  display: flex;
  justify-content: space-between;
}
.post_item-tags span {
  font-size: 12px;
  color: #9EABB3;
  margin-right: 3px;
}
.post_item-tags a {
  display: inline-block;
  background-color: #f1f1f1;
  padding: 1px 8px;
  margin-right: 4px;
  color: #2bb998;
}
.tags_title {
  margin-bottom: 10px;
}
.tags_title a {
  display: inline-block;
  margin-right: 8px;
  padding: 1px 8px;
  border-radius: 20px;
  background-color: #2bb998;
  color: #fff;
}
.site_right {
  padding: 10px;
}
.site_tags h3 {
  font-weight: bold;
  margin: 10px 0;
}
.site_tags a {
  display: inline-block;
  margin: 0 8px 8px 0;
  border: 1px solid #999;
  padding: 1px 8px;
  border-radius: 20px;
}
.page_foot {
  background-color: #353535;
  font-size: 14px;
  text-align: center;
  padding: 25px 0;
  color: #686868;
}
.post_content {
  margin: 40px 0;
  background-color: #fff;
  padding: 30px 30px 40px;
  color: #3e3e3e;
  max-width: 800px;
  margin: 0 auto;
}
.post_content .post_item-title {
  font-size: 20px;
  color: #444;
}
.post_content p {
  margin: 20px 0;
}
.post_content ul {
  margin: 20px 0;
}
.post_content h1,
.post_content h2,
.post_content h3,
.post_content h4,
.post_content h5,
.post_content h6 {
  color: #555;
  line-height: 1.15em;
  font-weight: 700;
}
.post_content h3 {
  font-size: .16rem;
  margin-top: .15rem;
}
.post_content strong,
.post_content b {
  font-weight: bold;
}
.post_content blockquote {
  box-sizing: border-box;
  margin-bottom: .75rem 0 .75rem .2em;
  padding-left: .15rem;
  border-left: #e5e5e5 .4em solid;
}
.post_content img {
  max-width: 100%;
}
.post_content .highlight {
  background-color: #f7f7f7;
  padding: 10px;
  margin-top: 20px;
  overflow: auto;
}
.post_content .code {
  line-height: 22px;
  padding: 4px;
  color: #2c4d50;
}
.post_content .html .name {
  font-weight: bold;
}
.post_content .html .attr {
  color: #333;
}
.post_content .html .string {
  color: #e67e28;
}
.tags_content {
  max-width: 8rem;
}
.tags_title-sub {
  font-weight: bold;
  font-size: 16px;
  padding-top: .2rem;
}
.tags_list {
  width: 100%;
}
.tags_item {
  padding: .15rem .2rem;
  border-bottom: 1px solid rgba(43, 185, 152, 0.2);
}
.tags_item-time {
  display: inline-block;
  padding: 0 .2rem 0 .2rem;
  min-width: 1.6rem;
  text-align: right;
  border-right: 1px solid #f1f1f1;
}
.tags_item-title {
  padding-left: .2rem;
  color: #333;
}
.tags_item-title:hover {
  color: #2bb998;
}
